<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!-- Add config info -->
  <appSettings>
    <!-- add provider similar to p. 815 -->
    <add key="provider1" value="SqlServer" />
    
    <!-- different provider + connection string p. 826 -->
    <add key="provider2" value="System.Data.SqlClient"/>
    <add key="connectionString2" value="Data Source=(localdb)\mssqllocaldb;
         Initial Catalog=AutoLot; Integrated Security=True" />
  
    <!-- p. 827-828 -->
    <add key="provider3" value="System.Data.OleDb"/>
    <add key="connectionString3" value="Provider=SQLNCI11=SSPI;
         Data Source=(localdb)\mssqllocaldb;
         Integrated Security=SSPI; Initial Catalog=AutoLot" />
  
  </appSettings>
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString=
         "Data Source=(localdb)\mssqllocaldb;
         Integrated Security=True; Initial Catalog=AutoLot" />

    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLNCI11=SSPI;
         Data Source=(localdb)\mssqllocaldb;
         Integrated Security=SSPI; Initial Catalog=AutoLot" />
  </connectionStrings>
</configuration>